<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">

    <% if Helpers.is_logged_in?(session) %>

    Hi, <%= Helpers.current_user(session).username %>
    Your balance is: <%= Helpers.current_user(session).balance %>

    <a href='/logout'>Log Out</a>
    <% end %>

    

  </body>
</html>
